body {
    font-family: 'Roboto', sans-serif;
}

.one, .footer {
    background-color: #1F2937;
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary, a, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF9;
}

button {
    background-color: #3882F6;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.information {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.placeholder {
    background-color: #646464;
    width: 200px;
    height: 100px;
}

.image {
    width: 100px;
    height: 100px;
    border: solid blue 2px;
}